#container {
    height: 100vh;
    width: 100vh;
    margin-left: 40%;
    position: relative;
}

.toDoTitle {
    margin-left: 40%;
    margin-top: 12%;
    position: absolute;
    transform: rotate(-1deg);
    font-family: Chalkduster, fantasy;
    font-size: medium;
}

body {
    background-color:lightgrey;
}

#toDoAppend {
    margin-left: 10%;
    margin-top: 10%;
    position: absolute;
    font-family: Chalkduster, fantasy;
    font-size: 50px;
}

#addItem {
    width: 400px;
    height: 30px;
    border-radius: 5px;
    font-size: medium;
}

#addButton {
    width: 100px;
    height: 45px;
    font-size: 25px;
    border-radius: 15px;
    font-family: Chalkboard, fantasy;
    background-color:rgb(92, 91, 88);
    color: white;
}

#myList {
    margin-left: 25%;
    margin-top: 18%;
    height: 100vh;
    width: 80vh;
    font-family: Chalkduster, fantasy;
    font-size:x-large;
    color: black;
    position: absolute;
    align-content: left;
    line-height: 50px;;
}